<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #gid{
            color: rgb(40, 40, 168);
            
        }
        #eid{
            color: red;
        }
        h1{ 
            text-size-adjust: 30px;
            text-align: center;
            font-weight: lighter;
        }
    </style>
</head>
<body>
   <a href="www.google.com"> <h1 >
<span id="gid">G</span><span id="eid">o</span><span style="color: yellow;">o</span><span id="gid">g</span><span style="color: yellowgreen;">l</span><span id="eid">e</span>
</h1></a>
</body>
</html>