<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Hello {{name}}</h1>
      <h2>Your age is {{age}}</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
        </tr>

        <h3>{% for items in obj %}</h3>
        <tr>
          <td>{{items.ename}}</td>
          <td>{{items.email}}</td>
          <td>{{items.pno}}</td>
          <td>{{items.add}}</td>
        </tr>
        {% endfor %}
      </table>
    </center>
  </body>
</html>
